.comment {
    border: solid #4A4A4A;
    border-width: 1px 1px 1px 1px;
    background: #EEEEEE;
    position: relative;
    /*margin-bottom: 5px;
    border-top: 0; 
    padding-right: 200px;
    border-bottom-width: 1px;*/
}
.comment .text {
    padding-left: 5px;
    word-wrap: break-word;
    padding-bottom: 10px;
    padding-top: 10px;
}
.date {
    padding-left: 5px;
    padding-right: 5px;
    border: solid #4A4A4A;
    border-width: 0px 1px 0px 0px;
}
.author {
    padding-left: 5px;
    padding-right: 5px;
}
.head {
    border: solid #364AA0;
    border-width: 0px 0px 1px 0px;
}
